{% extends "base.html" %}
{% block title %}Create post{% endblock %}
{% block content %}
<div class="create-post">
    <div class="create-post-container">
        <h2 id="dynamic-title">
            New Post
        </h2>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <div class="post-image" onclick="document.getElementById('image-input').click()">
                    <div class="default-image-post">
                        <i class="fas fa-image" style="font-size: 50px; color: #8b0000;"></i>
                    </div>
                    <input id="image-input" type="file" style="display: none;" name="avatar">
                </div>

                <input type="text" name="title" id="post-title" class="create_title" placeholder="Enter post title..." required>

                <textarea name="content" class="create_content" placeholder="Write your content here..." required></textarea>
            </div>
            <button type="submit" class="submit-button">
                <i class="fas fa-check"></i>
                Publish
            </button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const titleInput = document.getElementById('post-title');
        const dynamicTitle = document.getElementById('dynamic-title');

        titleInput.addEventListener('input', function() {
            if (this.value.trim() === '') {
                dynamicTitle.textContent = 'New Post';
            } else {
                dynamicTitle.textContent = this.value;
            }
        });

        if (titleInput.value.trim() !== '') {
            dynamicTitle.textContent = titleInput.value;
        }
    });
</script>
{% endblock %}
