{% extends "base.html" %}
{% block title %}Edit post{% endblock %}
{% block content %}
<div class="edit-post">
    <div class="edit-post-container">
        <h2>
            <i class="fas fa-pen"></i>
            Edit Post
        </h2>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label>Title:</label>
                <input type="text" name="title" class="create_title" value="{{ post.title }}" required>

                <label>Content:</label>
                <textarea name="content" class="create_content" required>{{ post.content }}</textarea>
            </div>
            <button type="submit" class="submit-button">
                <i class="fas fa-check"></i>
                Update
            </button>
        </form>
    </div>
</div>
{% endblock %}
