<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <form method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <label for="category-select">Category</label>
        <select name="category" id="category-select">
            <option value="rest">Rest</option>
            <option value="science">Science</option>
            <option value="games">Games</option>
            <option value="trips">Trips</option>
            <option value="food">Food</option>
        </select>
        <button type="submit" class="btn btn-primary">Publish</button>
        <textarea type="text" class="form-control" name="content" rows="10" required></textarea>
    </form>
</body>
</html>