<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{ post[1] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_poster.css') }}">
</head>
<body>
    <form method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" value="{{ post[1] }}" required>
        </div>
        <select name="code-theme" id="code-theme-select">
            <option value="">Select theme for code</option>
            <option value="atom-one-dark">Atom One Dark</option>
            <option value="dracula">Dracula</option>
            <option value="monokai">Monokai</option>
            <option value="nord">Nord</option>
            <option value="github-dark">GitHub Dark</option>
            <option value="night-owl">Night Owl</option>
            <option value="tokyo-night-dark">Tokyo Night</option>
            <option value="onedark">One Dark</option>
            <option value="hybrid">Hybrid</option>
            <option value="obsidian">Obsidian</option>
            <option value="github-dark">GitHub Dark</option>
            <option value="codepen-embed">Codepen Embed</option>
            <option value="arduino-light">Arduino Light</option>
            <option value="atom-one-light">Atom One Light</option>
            <option value="ascetic">Ascetic</option>
            <option value="brown-paper">Brown Paper</option>
            <option value="docco">Docco</option>
            <option value="idea">Idea</option>
        </select>
        <div class="form-group">
            <label>Tags</label>
            <input type="text" class="form-control" name="tags" value="{{ post[4] }}" required>
        </div>
        <button type="submit" class="action-button">Publish</button>
        <textarea id="markdown-editor" name="content" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'    '+v.substring(e);this.selectionStart=this.selectionEnd=s+3;return false}">{{ post[2] }}</textarea>
    </form>
</body>
</html>
