{% extends "base.html" %}
{% block title %}MAIN{% endblock %}
{% block content %}
{% if posts %}
<div class="posts-container">
    {% for post in posts %}
    {% if search_query in post.title.lower() or search_query in post.content.lower() %}
    <div class="post">
        <a href="{{ url_for('post', post_id=post.id) }}" class="post-link"></a>
        <div class="post-avatar">
            <img class="post-avatar-image" src="{{ post.author_avatar }}" alt="">
        </div>
        <div class="post-author">
            <i class="fas fa-user"></i>
            {{ post.author }}
        </div>
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        <p class="post-content">{{ post.content[:200]|safe }}{% if post.content|length > 300 %}...{% endif %}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% if search_query != "" and users %}
    {% for user in users %}
    {% if search_query in user.username.lower() %}
    <a href="{{ url_for('profile', user_id=user.id) }}" class="user-link">
        <div class="user">
            <img class="user-avatar-image" src="{{ user.avatar }}" alt="{{ user.username[0].upper() }}">
            <div class="user-name">
                {{ user.username }}
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}
