<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scorpio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <!-- Шапка сайта -->
        <header class="header">
            <a href="{{ url_for('main') }}">
                <div class="site-logo">
                    <i class="fas fa-globe"></i>Scorpio
                </div>
            </a>
            <div class="online-status">
                <i class="fas fa-users"></i> Online: {{ current_online }}
            </div>
            <div class="auth-buttons">
                {% if username %}
                    <a href="{{ url_for('logout') }}" class="action-button">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="action-button">Sign in</a>
                    <a href="{{ url_for('register') }}" class="action-button">Sign up</a>
                {% endif %}
            </div>
        </header>

        <!-- Основной контент -->
        <main class="main-content">
            <div class="sidebar">
                <a href="{{ url_for('profile', username=username) if username else '#' }}" class="sidebar-button">
                    <i class="fas fa-user"></i> Profile
                </a>
                <a href="{{ url_for('main') }}" class="sidebar-button">
                    <i class="fas fa-globe"></i> post feed
                </a>
                <a href="{{ url_for('create_post') }}" class="sidebar-button">
                    <i class="fas fa-plus"></i> Create post
                </a>
            </div>

            <!-- Лента постов -->
            <div class="post-feed">
                <div class="search-bar">
                    <form method="post">
                        <input type="text" placeholder="Enter post name" name="search-query" class="search-input" value="{{ search_query }}">
                        <button type="submit" class="search-button">Search</button>
                    </form>
                </div>
                {% if posts %}
                    {% if recommended_posts %}
                        <div class="recommendations">
                            <h3>Recommended posts</h3>
                            {% for post in recommended_posts %}
                                <div class="post" data-id="{{ post[0] }}" onclick="window.location.href='{{ url_for('post', id=post[0]) }}'">
                                    <div class="post-icon">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="post-content">
                                        <h3 class="post-title">{{ post[2] }}</h3>
                                        {% if post[9] %}
                                            <p class="tags">{{ post[9] }}</p>
                                        {% endif %}
                                        <p class="post-content">{{ post[3][:300].replace("**", "").replace("#", "").replace("```", "").replace("*", "").replace("~~", "").replace(">", "").replace(">>", "") }}</p>
                                        <p class="post-author">By <a class="post-author-a" href="{{ url_for('profile', username=post[7]) }}"> {{ post[7] }} </a></p>
                                        <p class="date">{{ post[4] }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for post in posts %}
                        {% if search_query.lower() in post[2].lower() or search_query.lower() in post[3].lower() or search_query.lower() in post[9].lower() or search_query.lower() in post[7].lower() %}
                            <div class="post" data-id="{{ post[0] }}" onclick="window.location.href='{{ url_for('post', id=post[0]) }}'">
                                <div class="post-icon">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="post-content">
                                    <h3 class="post-title">{{ post[2] }}</h3>
                                    {% if post[9] %}
                                        <p class="tags">{{ post[9] }}</p>
                                    {% endif %}
                                    <p class="post-content">{{ post[3][:300].replace("**", "").replace("#", "").replace("```", "").replace("*", "").replace("~~", "").replace(">", "").replace(">>", "") }}</p>
                                    <p class="post-author">By <a class="post-author-a" href="{{ url_for('profile', username=post[7]) }}"> {{ post[7] }} </a></p>
                                    <p class="date">{{ post[4] }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="no-posts">No posts found.</p>
                {% endif %}
            </div>
        </main>
    </div>
</body>
</html>
