<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/{{ post[6] }}.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/python.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <div class="post-card">
        <a class="action-button" href="{{ url_for('delete', id=post[0]) }}">Delete</a>
        <a class="action-button" href="{{ url_for('edit', id=post[0]) }}">Edit</a>
        <a class="action-button" href="{{ url_for('main') }}">Back</a>
        <h2 class="post-title-opened">{{ post[1] }}</h2>
        <pre class="post-content-opened">{{ post[2]|safe }}</pre>
        <p class="post-author-opened">Author: {{ post[4] }}</p>
        <p class="post-date-opened">Date: {{ post[3] }}</p>
        <div class="post-stats">
            <span class="veiws"> {{ veiw_count }} veiws </span>
        </div>
        <div class="post-comments">
            <h3>Comments</h3>
            <div class="create-comment">
                <form method="POST" class="comment-form">
                    <input type="text" placeholder="Enter your comment" name="comment" class="comment-input">
                    <button type="submit" class="comment-button">Send</button>
                </form>
            </div>
            {% if comments %}
            {% for comment in comments %}
            <div class="comment">
                <p class="comment-author">{{ comment[1] }}</p>
                <pre class="comment-content">{{ comment[2] }}</pre>
                <p class="comment-date">{{ comment[3] }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>No comments yet.</p>
            {% endif %}
        <div>
    </div>
    <script>
        hljs.highlightAll();
    </script>
</body>
</html>
