<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <div class="post-card">
        <h2 class="post-title">{{ post[1] }}</h2>
        <a href="{{ url_for('delete', id=post[0]) }}">Delete</a>
        <a href="{{ url_for('edit', id=post[0]) }}">Edit</a>
        <p class="post-category">#{{ post[3] }}</p>
        <p class="post-content">{{ post[2] }}</p>
    </div>
</body>
</html>