<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
</head>
<body>
    <img class="profile-image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2F4f%2F76%2F5c%2F4f765c7056448884e90e55ba40fa193b.jpg&f=1&nofb=1&ipt=da32f4beac0c7dc1b5afb572e10cd65a00d291db6eae5152235071da22f02fef&ipo=images" alt="Profile Image">
    <h2>{{ username }}</h1>
    <h4>{{ name }} {{ surname }}</h2>
</body>
</html>
