{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="profile">
    <div class="profile-avatar">
        <img class="avatar-image" src="{{ user.avatar }}" alt="{{ user.username[0]|upper }}">
    </div>
    <h4 class="profile-username">{{ user.username }}</h4>
    <p class="role">{{ user.role }}</p>
    {% if user.id == current_user.id %}
        <a href="{{ url_for('edit_profile') }}" class="action-button">
            <i class="fas fa-pen"></i>
            Edit Profile
        </a>
    {% endif %}
</div>
{% endblock %}
